<div>
    <canvas id="hitChart" width="400" height="400"></canvas>
</div>

<script> 

const hitData = {
  labels: ['Player Hits', 'League Average'],
  datasets: [{
    label: 'Player Hits',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: [{{ batter.hits }}, 42],
  }]
};
const hitConfig = {
  type: 'bar',
  data: hitData,
  options: {
    responsive: false
  }
};
  var hitChart = new Chart(
    document.getElementById('hitChart'),
    hitConfig
  );
  </script>