<div class="col-sm-6">
    <canvas id="hrChart" width="400" height="400"></canvas>
</div>

<script> 

const hrData = {
  labels: ['Player Home Runs', 'League Average'],
  datasets: [{
    label: 'Home Runs',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: [{{ batter.home_runs }}, 9],
  }]
};
const hrConfig = {
  type: 'bar',
  data: hrData,
  options: {
    responsive: false
  }
};
  var hrChart = new Chart(
    document.getElementById('hrChart'),
    hrConfig
  );
  </script>