<div>
    <canvas id="rbiChart" width="400" height="400"></canvas>
</div>


<script> 
  const labels = [
  'Player RBI',
  'League Average'
];
const data = {
  labels: labels,
  datasets: [{
    label: 'RBI',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: [{{ batter.rbi }}, 26],
  }]
};
const config = {
  type: 'bar',
  data: data,
  options: {
    responsive: false
  }
};
  var rbiChart = new Chart(
    document.getElementById('rbiChart'),
    config
  );
  </script>