<div class="input-field col-sm-12">
    <!-- jquery autocomplete -->
    <div class="ui-widget">
        <label for="tags">Search Player:</label>
        <input id="tags">
        <input type="submit" id="searchButton" value="Search">
    </div>
</div>