body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    border: 2px solid green;
    padding: 0;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

h5 {
    font-weight: bold;
    padding-bottom: 20px;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/grass.jpg");
    color: yellow;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.699);
    margin: 0 0 10px 0;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
    padding-top: 20px;
    padding-left: 25px;

}

header h2 { 
    font-weight: bold;
    padding-left: 25px;
    padding-bottom: 20px;
}

header a, a:hover {
    color: yellow;
    text-decoration: none;
}


nav {
    padding: 0 50px 20px 0;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

article {
    font-weight: bold;
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
}

.ui-widget {
    padding: 0 20px 0 20px;

}

li {
    list-style-type: none;
    background-color: antiquewhite;
}

.row {
    padding: 2px, 0;
}

.hide {
    display: none;
}

input {
    margin-bottom: 10px;
    width: 250px;
}

.field {
    width: 500px;
    float: left;
}

.col-sm-6 {
    margin-left: auto;
    margin-right: auto;
}

#searchButton {
    width: 200px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: yellow;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}