body {
    background-color: antiquewhite;
}

header {
    background-image: url("../images/grass.jpg");
    color: yellow;
}

header h1, header h3 {
    padding-left: 25px;;
}

.hide {
    display: none;
}

input {
    margin-bottom: 10px;
}

.field {
    width: 500px;
    float: left;
}

.container {
    border: 2px solid green;
}